.navigations {
    width: 96%;
    height: 40px;
    color: rgb(180 191 196);
    padding: 0px 2%;
    box-shadow: 0px 5px 5px rgb(211 222 233);
    margin-bottom: 5px;
    position: fixed;
    top: 45px;
    z-index: 100000;
    background-color: white;
    overflow: scroll;
}
.navigators {   
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.navigators a {
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
}
.active {
    color: rgb(0 102 167);
    border-bottom: 5px solid rgb(0, 171, 0);
}
@media only screen and (max-width: 1024px) {
    .navigators {
        width: max-content;
    }
}