::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    scroll-behavior: smooth;
}
body {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}  